* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  background: linear-gradient(119.11deg, #ff7982 0%, #ff8d53 100%);
  padding: 2rem;
  font-family: "Mulish";
  font-size: 0.8rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 1rem;
  height: 4rem;
  color: #09183f;
  margin: 0; }
  .navbar .main-links,
  .navbar .log-links {
    list-style-type: none;
    display: flex;
    padding: 0; }
  .navbar .link,
  .navbar .log-links li {
    margin: 0rem 1.5rem;
    text-decoration: none; }
  .navbar .link a {
    text-decoration: none; }
  .navbar .active {
    font-weight: 600; }
  .navbar .btn-search {
    margin-left: auto; }

.hero {
  margin: 0;
  height: 17rem;
  background-image: url(hero.png);
  background-size: cover;
  position: relative; }
  .hero .intro-background {
    height: 80%;
    width: 35%;
    background: #09183f;
    opacity: 0.5;
    box-shadow: 0px 14px 25px -10px rgba(9, 24, 63, 0.17);
    border-radius: 10px;
    position: absolute;
    margin: auto;
    padding: 2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .hero .intro {
    height: 80%;
    width: 35%;
    z-index: 100;
    box-shadow: 0px 14px 25px -10px rgba(9, 24, 63, 0.17);
    border-radius: 10px;
    position: absolute;
    margin: auto;
    padding: 0 2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hero .intro * {
      opacity: 1;
      margin: 0;
      color: #ffffff;
      margin-bottom: 1.5rem; }
    .hero .intro .intro__header {
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .hero .intro .btn-shop {
      border: none;
      background: linear-gradient(90.09deg, #ff748d 0%, #ff8e4f 100%);
      border-radius: 50px;
      height: 2rem;
      width: 8rem;
      margin-top: 0.5rem;
      cursor: pointer; }

.collections {
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative; }
  .collections .collections-background {
    position: absolute;
    background-color: #f4f8fd;
    height: 22rem;
    width: 100%;
    z-index: 10; }
  .collections .collection {
    background-color: #ffffff;
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 4rem 1rem;
    padding: 1rem;
    z-index: 15; }
    .collections .collection .top {
      display: flex;
      flex-direction: column;
      justify-items: center; }
      .collections .collection .top .collection__header {
        width: 15rem;
        margin: auto;
        text-align: center; }
      .collections .collection .top .collection__info {
        margin: auto;
        text-align: center;
        margin-top: 1rem; }
      .collections .collection .top .btn-purchase {
        border: 1px solid #09183f;
        background-color: #ffffff;
        border-radius: 50px;
        width: 10rem;
        height: 1.5rem;
        margin: auto;
        margin-top: 2rem; }
    .collections .collection .bottom {
      margin: -1rem;
      margin-top: 2rem;
      height: 13rem; }
    .collections .collection .left {
      background-image: url(left.png);
      background-size: cover; }
    .collections .collection .right {
      background-image: url(right.png);
      background-size: cover; }

/*# sourceMappingURL=index.css.map */
