* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background: url("background.png");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%; }

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center; }
  .navbar .navbar__brand {
    font-weight: 900;
    font-size: 1.5rem; }
  .navbar .navbar__links {
    list-style: none;
    font-weight: 300;
    display: flex; }
    .navbar .navbar__links .navbar__link {
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .navbar .navbar__links .navbar__link .link {
        margin-bottom: 10px;
        color: #13274f; }
      .navbar .navbar__links .navbar__link .underline {
        display: none;
        background-color: #597fe2;
        height: 3px;
        width: 50%; }
      .navbar .navbar__links .navbar__link .visible {
        display: block; }

.main-content {
  margin: 4rem 0 3rem 0; }
  .main-content .main-content__info {
    width: 670px;
    margin: auto; }
  .main-content .main-content__header,
  .main-content .main-content__info {
    text-align: center; }
  .main-content .main-content__systems {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; }
    .main-content .main-content__systems .system {
      width: 300px;
      height: 170px;
      border-radius: 15px;
      margin: 0 1.5rem;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem; }
      .main-content .main-content__systems .system img {
        height: 50px;
        width: 50px;
        margin-bottom: 1rem; }
      .main-content .main-content__systems .system button.download {
        border-radius: 5px;
        border: 1px solid #eef1fc;
        background-color: #ffffff;
        height: 40px;
        cursor: pointer; }
      .main-content .main-content__systems .system .system-requirement {
        color: #6d7593;
        font-size: 0.5rem; }
    .main-content .main-content__systems .prefered {
      width: 350px;
      height: 190px;
      position: relative;
      padding-top: 2.5rem; }
      .main-content .main-content__systems .prefered button.download {
        background-color: #597fe2;
        color: #ffffff; }
      .main-content .main-content__systems .prefered .blur-back {
        position: absolute;
        margin: auto;
        left: 1rem;
        right: 1rem;
        top: 1rem;
        bottom: -1rem;
        z-index: -1;
        background: #214c9d;
        opacity: 0.2;
        filter: blur(22px);
        border-radius: 10px; }

.bottom-content {
  background-color: #e2e7fa;
  padding: 1rem;
  justify-self: flex-end; }
  .bottom-content .bottom-content__items {
    font-size: 0.8rem;
    display: flex;
    justify-content: center; }
    .bottom-content .bottom-content__items .item {
      width: 320px;
      margin: 0 3rem; }
  .bottom-content .bottom-content__footer {
    text-align: center;
    color: #13274f;
    font-size: 0.7rem;
    margin-bottom: 0; }

/*# sourceMappingURL=index.css.map */
